@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
html, body {
  background: #1a1a1a url("../assets/images/background.jpeg") no-repeat center;
  background-size: cover; 
  background-repeat: no-repeat;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
header {
  width: 100%;
  height: 60px;
  background: #ffffff;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
  border-bottom: 1px solid #e7e7e7;
}
header img#logo {
  height: 60px;
  width: auto;
}

main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
}

section {
  color: #2e2e2e;
  background-color: #ffffff;
  padding: 10px 10px 20px 10px;
  margin: 0 auto 0 auto;
  border-radius: 3px;
  border: 1px solid #e7e7e7;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
  max-width: 500px;
}
h2 {
  margin: 0 auto 15px auto;
  padding: 20px;
  border-bottom: 3px solid #ebebeb;

}
h4 {
  font-size: 10em;
  font-weight: bold;
  background-color: #e0e0e0;;
  margin: 0;
  padding: 15px;
  border-radius: 3px;
}
section hr {
  border: 2px solid #ebebeb;
  margin-top: 20px;
}

span.closed {
  font-weight: bold;
  color: #920909;
}

span.open {
  font-weight: bold;
  color: #1fa753;
}

footer {
  flex-shrink: 0;
  align-items: center;
  background-color: #1a1a1a;
  color: #969494;
  height: 40px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-content: center;
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #11d194;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto 15px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#guest-form {
  text-align: left;
  margin: 0;
  padding: 0;
}
#guest-form div {
  margin-bottom: 10px;
}
label .req {
  color: #b81a1a;
}
label {
  width: 100%;
  margin-bottom: 6px;
  display: block;
}

#select-location, input[type='text'], input[type='tel'] {
  width: 100%;
  height: 50px;
  font-size: 1em;
  margin: 0;
  padding: 0 10px 0 10px;
  border: 1px solid #e7e7e7;
  color: #2e2e2e;
  border-radius: 5px;
  box-sizing: border-box;
}
#select-location {
  margin-top: 8px;
}
#party-size {
  width: 50px;
}

#select-location option {
  margin-bottom: 0 auto;
}

button {
  background-color: #4CAF50;
  color: #ffffff;
  border: none;
  width: 100%;
  padding: 8px;
  font-size: 1.25em;
  cursor: pointer;
}
button:hover {
  background-color: #5ac25d;
}